* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle at top, #3c2515, #140b06 70%);
  color: white;
}

/* YUXARI HİSSƏ */

.topbar {
  height: 65px;
  padding: 0 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #24130b;
  border-bottom: 2px solid #6e3e20;
  box-shadow: 0 4px 15px rgba(0,0,0,.4);
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.top-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hearts {
  background: #40151b;
  border: 1px solid #b43a4c;
  border-radius: 20px;
  padding: 8px 12px;
  font-weight: bold;
}

.store-btn {
  border: 0;
  border-radius: 18px;
  padding: 9px 12px;
  background: #d08a28;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* ƏSAS */

main {
  width: 100%;
  max-width: 700px;
  margin: auto;
  padding: 12px;
}

.game-area {
  text-align: center;
}

/* QISA TAxta MASA */

.wood-table {
  position: relative;
  width: 100%;
  height: 360px;
  margin: 5px auto 12px;

  border-radius: 42px;

  background:
    linear-gradient(
      135deg,
      #6e3d1d,
      #9a5a29,
      #633518
    );

  border: 7px solid #321a0c;

  box-shadow:
    inset 0 0 0 3px #b7763c,
    inset 0 0 30px rgba(0,0,0,.45),
    0 10px 25px rgba(0,0,0,.6);
}

/* OYUNÇULAR */

.players {
  position: absolute;
  inset: 0;
}

.player {
  position: absolute;
  width: 70px;

  transform: translate(-50%, -50%);

  text-align: center;
  z-index: 5
